In [1]:
from NewsAPI import NewsAPI

with open("news-api_token.txt", "r") as f:
    api_key = f.readline().strip()

In [2]:
api = NewsAPI(api_key)

In [3]:
articles, urls = api.process("tesla")

In [4]:
articles[0]

{'source': {'id': 'cnn', 'name': 'CNN'},
 'author': 'Jackie Wattles, CNN Business',
 'title': 'Elon Musk teases Tesla announcement',
 'description': 'Elon Musk is teasing a Tesla announcement on Twitter, as regulators continue to scrutinize his use of the social media platform.',
 'url': 'https://www.cnn.com/2019/02/28/tech/tesla-elon-musk-announcement/index.html',
 'urlToImage': 'https://cdn.cnn.com/cnnnext/dam/assets/190228143105-03-elon-musk-lead-image-super-tease.jpg',
 'publishedAt': '2019-02-28T20:01:43Z',
 'content': None}

In [8]:
api.sources[:5]

['abc-news',
 'abc-news-au',
 'al-jazeera-english',
 'ars-technica',
 'associated-press']

In [11]:
urls["cnn"]

['https://www.cnn.com/2019/02/28/tech/tesla-elon-musk-announcement/index.html',
 'https://www.cnn.com/2019/03/01/tech/tesla-takeaways/index.html',
 'https://www.cnn.com/2019/02/26/tech/elon-musk-sec-tweet/index.html',
 'https://www.cnn.com/2019/02/25/tech/elon-musk-sec-settlement-contempt/index.html']

In [9]:
import pandas as pd

sources = pd.DataFrame([
    {"id": src.get("id"), "url": src.get("url")}
    for src in api.api.get_sources(language = "en")["sources"]
])
sources.head()

                   id                         url
0            abc-news      https://abcnews.go.com
1         abc-news-au  http://www.abc.net.au/news
2  al-jazeera-english    http://www.aljazeera.com
3        ars-technica      http://arstechnica.com
4    associated-press         https://apnews.com/